<div class="section-team">
    <ul>
        <li class="list">

            <img src="" alt="фото команди">
            <p>Andrey Ivanov</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Sergey Palamarchuk</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Alexander Kupchinskiy</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Helen</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Iryna Kukhta</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Nastya</p>
        </li>
        <li class="list">
            <img src="" alt="фото команди">
            <p>Olena Savytska</p>
        </li>
    </ul>
</div>